NoticeMailer#sendmail_confirm
-# = @comment + ", find me in app/views/notice_mailer/sendmail_confirm.text.haml"
%p 新しいコメントが登録されました。
%p 承認または削除してください。
-# URL：<%= url_for( :host => 'www.trial.test', :controller => 'comments', :action => 'create' ) %>